body {
  overflow: hidden;
  margin: 0;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica;
}

#header, #footer {
  z-index: 1;
  display: block;
  font-size: 36px;
  font-weight: 300;
}

#footer {
  transition: 0.3s;
}

rect {
  fill: none;
  pointer-events: all;
}

pre {
  font-size: 18px;
}

line {
  stroke: #000;
  stroke-width: 1.5px;
}

.string, .regexp {
  color: #f39;
}

.keyword {
  color: #00c;
}

.comment {
  color: #777;
  font-style: oblique;
}

.number {
  color: #369;
}

.class, .special {
  color: #1181B8;
}

a:link, a:visited {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #666;
}

#hint {
  font-family: "lato", sans-serif !important;
  font-weight: 300;
  font-size: 50px;
  letter-spacing: 10px;
  margin-top: 4em;
  text-align: right;
  background: linear-gradient(white, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


html {
  height: 100%;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow: hidden;
}
body {
  height: 100%;
}
h1 {
    margin: 0 0 40px 0 !important;
}
#body {
    position: relative;
    width: 820px;
    height: 820px;
}
#waterContainer,
#earthContainer {
    width: 820px;
    height: 820px;
    position: absolute;
    top: 0px;
    left: 0px;
}
#earthContainer {
  z-index: 200;
}
#map_selector {
  height: 500px;
}
svg {
  width: 820px;
  height: 820px;
  pointer-events: all;
}
circle {
  fill: #1b4e75;
}
path {
  fill: #94dc72;
  cursor: pointer;
  stroke: #5f5b33;
  stroke-width: 1.2px;
}
path:hover {
  fill: #b6f19b;
  transition: fill 0.3s;
}
.search-wrapper {
    z-index: 5;
    width: 40%;
    margin: 0 12px;
    -webkit-transition: margin .25s ease;
    transition: margin .25s ease;
}
.search-wrapper input#search {
    display: block;
    font-size: 16px;
    font-weight: 300;
    width: 100%;
    height: 45px;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 45px 0 15px;
    border: 0;
}
.search-wrapper i.material-icons {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
.landing-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  margin-top: 25px;
}
#earthShadowSVG {
    z-index: 200;
    position: absolute;
    top: 0px;
    left: 0px;
}
#earthShadow {
  fill: url(#earthGrad) !important;
}